*{
    margin: 0;
    padding: 0;
}
/* Grid set up */
.row,
.column {
    box-sizing: border-box; /* adds border and padding into width calulations*/
}
/* "clear-fix" to force rows to hold columns*/
.row:before,
.row:after {
    content: " ";
    display: table;
}
.row:after {
    clear: both;
}

.column {
    position: relative;
    float: left;
    display: block;
}
/* left margin for all except the 1st column*/
.column + .column {
    margin-left: 1.6%;
}
.column-1 {
    width: 6.86666666667%;
}
.column-2 {
    width: 15.3333333333%;
}
.column-3 {
    width: 23.8%;
}
.column-4 {
    width: 32.2666666667%;
}
.column-5 {
    width: 40.7333333333%;
}
.column-6 {
    width: 49.2%;
}
.column-7 {
    width: 57.6666666667%;
}
.column-8 {
    width: 66.1333333333%;
}
.column-9 {
    width: 74.6%;
}
.column-10 {
    width: 83.0666666667%;
}
.column-11 {
    width: 91.5333333333%;
}
.column-12 {
    width: 100%;
    margin-left: 0;
}



 /*General Styling */




.column {
    background: #eee;
    border: 1px solid #ccc;
    color: #777;
    padding: 5px;
    min-height: 30px;
    text-align: center;
}

.row {
    margin-bottom: 10px;
}



p{
    text-align: center;
}

@media only screen and (max-width: 550px) {
    .row {
        margin-bottom: 0;
    }
    .column {
        margin-bottom: 10px;
    }
    .row:last-child .column:last-child {
        margin-bottom: 0;
    }
}

/* MolyWorks specific styling*/
.screen-wrapper{
    position: relative;
}
.main-nav{
    position: fixed;
    height: 783px;
    background-color: #006BB6;
    top: 0;
    left: 0;
    border: none;
    width: 25%;
}
.main-nav .particles-js-canvas-el{
    position: absolute;
    top:0;
    left: 0;
    z-index: 1;
}
.portrait{
    position: relative;
    width: 66%;
    margin: 0 auto;
    margin-top: 60px;
    z-index: 6;
}
.identification{
    color: #fff;
}
.name{
    font-family:"Copperplate Gothic Light";
    font-weight: bold;

}
.title{
        font-family: "Copperplate Gothic Light";
        color: #FDB927;
        
}
.links{
    padding-left: 0;
    list-style: none;
    padding-top: 25px;
}
.links li{
    margin-top: 25px;
    font-size: 2em;

}
.links a{
    text-decoration: none;
    color: #fff;
    font-family: "Copperplate Gothic Light";
    z-index: 5;
    position: relative;
}
.links a:hover{
    color: #FDB927;
}
.main-content{
    position: absolute;
    right: 0px;
    margin: 0px;
    width: 75%;
}
.banner{
    height: 522px;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url(town.jpg);
}
.about{
    height: 261px;
}
.products .row .column .row .column{
    margin-left: 0;
}
.graph .column-12 .column{
    height: 162.5px;
}
/* makes all columns 100% wide and removes "gutters" aka margin-left*/
@media only screen and (max-width: 550px) {
    .column-1, 
    .column-2, 
    .column-3, 
    .column-4, 
    .column-5, 
    .column-6, 
    .column-7, 
    .column-8, 
    .column-9, 
    .column-10, 
    .column-11, 
    .column-12 {
        float: none;
        width: auto;
    }
  
    .column + .column {
        margin-left: 0;
    }
    .main-nav{
        position: relative;
    }
    .main-content {
        position: relative;
    }
}