@font-face {
  font-family: 'Copper Penny';
  src:  url('Copper-Penny.ttf') format('woff2'),
        url('Copper-Penny.ttf.') format('woff');
}
*{
    margin: 0;
    padding: 0;
}

/* Grid set up */
.row,
.column {
    box-sizing: border-box; /* adds border and padding into width calulations*/
}
/* "clear-fix" to force rows to hold columns*/
.row:before,
.row:after {
    content: " ";
    display: table;
}
.row:after {
    clear: both;
}

.column {
    position: relative;
    float: left;
    display: block;
}
/* left margin for all except the 1st column*/
.column + .column {
    margin-left: 1.6%;
}
.column-1 {
    width: 6.86666666667%;
}
.column-2 {
    width: 15.3333333333%;
}
.column-3 {
    width: 23.8%;
}
.column-4 {
    width: 32.2666666667%;
}
.column-5 {
    width: 40.7333333333%;
}
.column-6 {
    width: 49.2%;
}
.column-7 {
    width: 57.6666666667%;
}
.column-8 {
    width: 66.1333333333%;
}
.column-9 {
    width: 74.6%;
}
.column-10 {
    width: 83.0666666667%;
}
.column-11 {
    width: 91.5333333333%;
}
.column-12 {
    width: 100%;
    margin-left: 0;
}



 /*General Styling */

@media only screen and (max-width: 550px) {
    .row {
        margin-bottom: 0;
    }
    .column {
        margin-bottom: 10px;
    }
    .row:last-child .column:last-child {
        margin-bottom: 0;
    }
}

/* MolyWorks specific styling*/
.screen-wrapper{
    position: relative;
}
.image-wrapper{
    position: relative;
}
.main-nav{
    position: fixed;
    height: 783px;
    background-color: #006BB6;
    top: 0;
    left: 0;
    border: none;
    width: 25%;
    text-align: center;
}
.main-nav .particles-js-canvas-el{
    position: absolute;
    top:0;
    left: 0;
    z-index: 1;
}
.portrait{
    position: relative;
    width: 66%;
    margin: 0 auto;
    margin-top: 60px;
    z-index: 6;
}
.identification{
    color: #fff;

}
.name{
    font-size: 2em;
    font-family: 'Arvo', serif;
    font-weight: 100;
}
.title{
    color: #FDB927;
    font-family: 'Copper Penny';
    font-weight: 100;      
}
.links{
    padding-left: 0;
    list-style: none;
    padding-top: 25px;
}
.links li{
    margin-top: 25px;
    font-size: 2em;

}
.links a{
    text-decoration: none;
    color: #fff;
    z-index: 5;
    position: relative;
    font-family: 'Copper Penny';
    font-weight: 100;
    transition: color .4s ease; 
}
.links a:hover{
    color: #FDB927;
}
.main-content{
    position: absolute;
    right: 0px;
    margin: 0px;
    width: 75%;
}
.main-content h1{
    padding: 50px 25px;
    text-align: center;
    font-size: 3em;
    font-family: 'Copper Penny';
    font-weight: 100;
}
.main-content h1:before{
    content: "";
    display: block;
    border-top: 1px ridge #0066b0;
    border-bottom: 1px ridge #0066b0;
    width: 100%;
    height: 4px;
    position: relative;
    top: 25px;
    z-index: 0;
}
.main-content .lines{
    padding: 0 20px;
    position: relative;
    z-index: 5;
    background-color: #fff;
}
.main-content p{
    font-family: 'Arvo', serif;
    font-weight: 100;
}
.banner{
    height: 600px;
    background-size: cover;
    background-position: 50% -115px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url(town.jpg);
}
.banner h1{
    color: #0066b0;
    text-shadow: 1px 1px 0 #000;
    margin-top: 35px;
}
.banner h1:before{
    display: none;
}
.banner footer{
    position: absolute;
    bottom: 0;
    right: 0;
    color: #FDB927;
    text-shadow: 1px 1px 0 #000;
    padding: 5px;
}
.about{
    height: 235px;
}

.about p{
    padding: 0 25px 50px 25px;

}

.main-content .row{
    margin: 0 4%;
}
.main-content > .row:first-child{
    margin: 0;
}

.projects .column-12{
    margin: 5% 0;
    box-shadow: 0 0 0 1px #000,
                0 0 0 4px #fbd927,
                0 0 0 8px #0066b0;
    border-radius: 10px;
    padding: 0 10px;
}
.projects .row{
    margin: 0;
    
}

.main-content h2{
    font-size: 1.5em;
    padding: 10px 0;
    font-family: 'Arvo', serif;
    font-weight: 800;
}
.projects .image-wrapper{
    height: 200px;
    background-image:url('placeholder.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    border-radius: 10px;
}
.discription{
    padding-top: 17px;
}
.projects p{
    padding-bottom: 10px;
}
.projects  ul.tag{
    position: relative;
    padding-top: 20px
}
.projects .tag li{
    display: inline-block;
    background-color: #0066b0;
    color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 2px 5px;
    margin: 2px 0;
}
footer .column-12{
    height: 250px;
    background-attachment: fixed;
    background-color: #fff;
    padding: 0;
}
footer > .row:first-child{
    margin: 0;

}
/* makes all columns 100% wide and removes "gutters" aka margin-left*/
@media only screen and (max-width: 550px) {
    .column-1, 
    .column-2, 
    .column-3, 
    .column-4, 
    .column-5, 
    .column-6, 
    .column-7, 
    .column-8, 
    .column-9, 
    .column-10, 
    .column-11, 
    .column-12 {
        float: none;
        width: auto;
    }

}