*{
  margin: 0;
  padding: 0;

}
.vertical-header{
  position: fixed;
  margin: 75px 0 0 75px;
  padding-top: 150px;
}
.vertical-header .logo{
  color: white;
  font-size: 1.5em;
  margin-bottom: 30px;
}
.vertical-header ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.vertical-header li{
    margin-bottom: 5px;
}
.vertical-header a{
  text-decoration: none;
  color: white;
  font-size: 2em;
}


.horizontal-header{
  position: relative;
  background-color: grey;
  width: 100%;
  top: 783px;
  height: 50px;
}
.horizontal-header ul{
  list-style: none;
  text-align: center;
}
.horizontal-header li{
  height: 50px;
  line-height: 50px;
  display: inline-block;
  float: right;
  width: 10%;
}
.horizontal-header .logo{
  font-size: 3em;
  float: left;
}
.horizontal-header a{
    text-decoration: none;
    color: black;
  }
  .fixed{
    position: fixed;
    top:0;
  }


.container{
  max-width: 960px;
  margin: 0 auto;
}


.paralax{
  height: 783px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  max-width: 100%;
}


.content{
  height: 783px;
  display: flex;
  justify-content:center;
  align-items: center;
  text-align: justify;
}


.content-thin{
  height: 517px;
  display: flex;
  justify-content:center;
  align-items: center;
  text-align: justify;
}
.content-thin p{
  font-size: 3em;
  margin: 0 120px;
  }
  .content-white{
    height: 517px;
  display: flex;
  justify-content:center;
  align-items: center;
  text-align: justify;
  }
  .content-white p{
  color: white;
  font-size: 3em;
  margin-top: 25px;
  align-self: flex-start;
  }


.headline{
  width: 45%;
  color: white;
  font-size: 3.5em;
  text-align: justify;
  margin: 0 0 254px 123px;
}


.paralax-1{
  background-image: url(/../../static/engine.jpg);
}


.paralax-2{
  background-image: url(/../../static/furnace.jpg);
  height: 517px;
}