<!DOCTYPE html>
<html>
    <head>
        <title>MolyWorks</title>
        <link rel="stylesheet" type="text/css" href="/static/moly.css">
        <style type="text/css"></style>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    </head> 
    <header class="main-header">
        <div class="logo">MolyWorks</div>
        <div class="nav">
          <ul>
            <li><a href="#">Powder</a></li>
            <li><a href="#">Metal</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
    </header>
    
    <section class="paralax paralax-1">
        <div class="content">
            <h1></h1>
        </div>
    </section>
    
    <section class="content">
        <div class ="container">
            <h1> Value proposition: why you should buy our shit</h1>
        </div>
    </section>

    <section class="paralax paralax-2">
        <div class="container">
            <h1>Molyworks. Catchy Inspiring Things. Amazing medical devices</h1>
        </div>
    </section>
    <script type="text/javascript" src="/static/moly.js"></script>
</html>

